body {
	background: white;
	background: radial-gradient(circle, #fff 20%,  #fef9ff);
  background-size: cover;
  font-family: 'Courgette', cursive;  color: #434244;
  text-align: center;
}

.baslik{
  font-family: 'Courgette', cursive;  color: #434244;
  padding: 20px;
}
.puan{
  margin-top: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  box-shadow: -1px 4px 53px -10px rgba(242,194,242,1);
}